<h3>I made this for <%= link_to "Mark", 'http://desperatecomfort.com/' %>. It's a stupid web-based index card thing.<br /> 
<%= link_to 'Sign up', new_user_registration_path %> to make a board that looks like the thing below.</h3>
<%= render 'projects/board' %> 